.about-emitent
  display flex
  flex-wrap wrap
  flex 1 1 auto
  padding 40px 20px
  &__title
    font-size 18px
    line-height 27px
    margin-bottom 20px
    margin-top 40px
    color: #660035
    font-family MetaPro
  &__text
    flex: 0 0 100%;
    order: 2;
    p
      font-size 14px
      line-height 21px
      margin-bottom 16px
  &__logo
    flex: 0 0 100%;
    text-align: center;
    margin-bottom 43px
    order: 0;
    img
      width: 157px;
  &__map
    flex: 1 1 100%;
    margin-top 50px
    order: 3;
    img
      width 100%
  &__stats
    flex 0 0 100%
    order: 1;
    .stats__stat
      min-width auto
      ul li
        flex: 0 0 50%;
        margin-bottom 20px
    .stats__stat-describe
      max-width: 180px;
    .stats__stat-title
        color #222
        #rub
          fill #222
  @media (min-width 768px)
    padding 80px 50px
    &__stats
      flex 0 0 100%
      .stats__stat ul li
        flex 0 0 33.333%
    &__title
      margin-top 0
      font-size 24px
      line-height 37px
    &__text
      flex: 0 0 100%;
      margin-bottom 50px
      p
        font-size 16px
        line-height 24px
  @media (min-width 1200px)
    padding 80px 100px 120px
    &__map
      order 2
      flex 0 0 75%
      img
        padding-right: 60px;
    &__logo
      order 1
      flex 0 0 34%
      margin: auto;
    &__stats
      order 3
      flex 0 0 25%
      .stats__stat ul li
        flex 0 0 100%
    &__text
      order 0
      flex: 0 0 66%;
      margin-bottom 0