.about-emitent
	.about-emitent__text
		h2.about-emitent__title
			| ООО «Солид-Лизинг»
		p «Солид-Лизинг» работает на рынке лизинговых услуг с 2004 года и является активным и динамично развивающимся участником лизингового рынка.
		p Целью привлечения денежных средств является увеличение оборотного капитала и увеличение объёма лизингового портфеля.
		p Присутствие в крупнейших городах и регионах России позволяет компании охватывать разные региональные ниши и отрасли, тем самым диверсифицируя свой лизинговый портфель.
	.about-emitent__logo
		img(src="/images/icons/solidLeasing.svg" alt="Solid Leasing")
	.about-emitent__map
		img(src="/images/background/map.svg" alt="Карта Solid Project")
	.about-emitent__stats
		div.stats__stat
			ul
				li
					p.stats__stat-title
						| 14
					p.stats__stat-describe
						| лет на рынке
				li
					p.stats__stat-title
						| 183
						span.small
							| млн
						<svg width="23" height="26" viewBox="0 0 23 26" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path id='rub' d="M5.75441 16.74H8.45441V18.972H5.75441V21.888H8.45441V27H11.8024V21.888H26.3824V18.972H11.8024V16.74H18.2464C21.8104 16.74 24.2944 16.02 25.6624 14.544C27.0304 13.068 27.7144 11.232 27.7144 9.072C27.7144 5.472 25.4464 2.52 21.7744 2.016C20.9104 1.872 19.6504 1.8 17.9584 1.8H8.45441V13.86H5.75441V16.74ZM11.8024 4.788H18.2104C19.7584 4.788 20.8024 4.86 21.3424 5.004C23.1064 5.472 24.2224 7.056 24.2224 9.18C24.2224 12.096 22.6384 13.788 18.2824 13.788H11.8024V4.788Z" transform="translate(-5 -1)" fill="#660035"/>
						</svg>
					p.stats__stat-describe
						| собственный капитал
				li
					p.stats__stat-title
						span.small
							| Топ
						|  100
					p.stats__stat-describe
						| компаний.
						br
						| Рейтинг «Эксперт РА»