
// .show
.mobile-menu
	div.header
		.container
			.header__icon
				img(src="/images/icons/logo.svg" alt="Solid Project")

			.close
				//p Закрыть
				img.closeForm(src="/images/icons/closeForm.svg" alt="Close menu")

	p.mobile-menu__title
		a.scrollTo(href="#debentures") Облигации
		br
		a.scrollTo(href="#emitent") Об эмитенте
		br
		a.scrollTo(href="#solid") АО ИФК «Солид»
	a.btn.buy(href="#buy")
		| Купить
	div.mobile
		a.mobile__phone(href="tel:88043330988")
			| 8 (804) 333-09-88
		p.mobile__describe
			| Звонок по России бесплатный