.mobile-menu
	display none
	position fixed
	width 100vw
	height 100vh
	text-align center
	top: 0;
	background-color: white;
	z-index 20
	.header
		position relative
		margin-bottom 50px
		box-shadow none
		.container
			justify-content: space-between;
		&__icon
			flex 0 0 auto
	&.show
		display block
	&__title
		font-family MetaPro
		font-size 24px
		line-height: 41px;
		margin-bottom 40px
		a
			color #222
	.btn
		margin-bottom 40px
		width 200px

.close
	width: 39px;
	height: 33px;

