.question
	.container
		ul
			li Объем размещения первого выпуска в рамках   программы – 200 млн руб.
			li Ставка 1-4 купон 13%, выплачивается каждый 91 день
			li Ориентировочная дата размещения – 17 июля
			li Срок обращения 5 лет, 20 купонных периодов Московской биржи
			li Минимальный размер заявки при первичном размещении составляет 4 000 000 руб.
			li Подходит для включения в список РЕПО с центральным контрагентом Московской биржи
		div.question__box
			p.question__person
				| Павел Егоров
			p.question__describe
				| Директор Департамента
				br
				| клиентских отношений
			a.btn.buy(href="#formQuestion")
				| Задать вопрос
