@font-face
  font-family MetaPro
  font-style normal
  src url(/fonts/MetaSerifPro-Medium.otf)
  src url(/fonts/MetaSerifPro-Medium.woff) format('woff'), url(/fonts/MetaSerifPro-Medium.woff2) format('woff2')

@font-face
  font-family Roboto
  font-style normal
  src url(/fonts/Roboto-Regular.ttf)
@font-face
  font-family Roboto
  font-style normal
  font-weight 600
  src url(/fonts/Roboto-Bold.ttf)