.dealing-card
	display inline-block
	vertical-align top
	padding 40px 54px 63px 30px
	background-color white
	font-size 14px
	line-height 21px
	width: 285px;
	height 285px
	margin-right 20px
	margin-bottom 20px
	img
		height 80px
	&__title
		font-weight 600
		margin-top 20px
	&__text
		font-size 12px
		line-height 18px
	@media (min-width: 768px)
		&__text
			font-size 14px
			line-height 21px

