extends /blocks/layout-default/layout-default

block head
    - var pageTitle = 'Solid Projects';

block content
    include /blocks/header/header
    include /blocks/promo/promo
    include /blocks/question/question
    include /blocks/about/about
    include /blocks/stats/stats
    include /blocks/dealings/dealings
    include /blocks/footer/footer
    include /blocks/mobile-menu/mobile-menu
    include /blocks/form/form
    include /blocks/form-q/form-q
