.about-risks
    .about-risks__text
        p Диверсификация лизингополучателей оценивается как высокая, максимальная задолженность на одного
            | лизингополучателя не превышает 15-20% от общего объема лизингового портфеля.
    ul.about-risks__features
        li
            img(src="/images/icons/stars.svg")
            p Полная оценка кредитоспособности Лизингополучателя.
        li
            img(src="/images/icons/protection.svg")
            p Страхование лизингового имущества от всех рисков.
        li
            img(src="/images/icons/icon.svg")
            p Ежегодный мониторинг финансового состояния Лизингополучателя.
        li
            img(src="/images/icons/location-on-map.svg")
            p Постоянный мониторинг переданного имущества с помощью GPS-маячка.
        li
            img(src="/images/icons/key.svg")
            p На срок действия лизингового договора предметы лизинга являются собственностью Лизингодателя.
        li
            img(src="/images/icons/like.svg")
            p Требование к предметам лизинга – ликвидное имущество, не уникальное, имеющее устойчивый рынок сбыта.
        li
            img(src="/images/icons/return.svg")
            p Возврат имущества Лизингодателю в случае неплатежеспособности Лизингополучателя.