.about-results
    .about-results__item
        h3.about-results__title
            | Структура фондирования
        img(src="/images/results/fond.svg" alt="Структура фондирования")
        ul
            li
                i(style="background-color: #C3BAB3")
                | Банковские кредиты
                span 68%
            li
                i(style="background-color: #D5CFCA")
                | Облигационные займы
                span 32%
    .about-results__item
        h3.about-results__title
            | Срочность фондирования
        img(src="/images/results/urgency.svg" alt="Срочность фондирования")
        ul
            li
                i(style="background-color: #395D92")
                | 2-3 года
                span 47%
            li
                i(style="background-color: #617DA8")
                | >3 лет
                span 34%
            li
                i(style="background-color: #889EBE")
                | <1 года
                span 11%
            li
                i(style="background-color: #B0BED3")
                | 1-2 года
                span 8%
    .about-results__item
        h3.about-results__title
            | Структура портфеля
        img(src="/images/results/portfolio.svg" alt="Структура портфеля")
        ul
            li
                i(style="background-color: #660035")
                | Грузовой транспорт
                span 29%
            li
                i(style="background-color: #85335D")
                | Легковые автомобили
                span 17%
            li
                i(style="background-color: #A36686")
                | Оборудование
                span 21%
            li
                i(style="background-color: #C299AE")
                | Спецтехника
                span 19%
            li
                i(style="background-color: #D1B2C2")
                | Другие
                span 14%





























