footer.footer.container
	div.mobile
		a.mobile__phone(href="tel:88043330988")
			| 8 (804) 333-09-88
		p.mobile__describe
			| Звонок по России бесплатный
	div.copyright
		p
			| © 2018 АО ИФК «Солид»
		p
			| Информация и мнения, представленные на данном ресурсе, подготовлены специалистами компании ИФК «Солид». Полное или частичное предоставление материалов третьим лицам возможно в случаях и на условиях, определенных законодательством. Настоящий документ не может рассматриваться в качестве публичной оферты. ИФК «Солид», его руководство и сотрудники не несут ответственности за инвестиционное решение клиента, основанное на информации, содержащейся в настоящем буклете. Лицензии на осуществление: - брокерской деятельности – № 045-06790-100000, выдана ФКЦБ России 24 июня 2003 г. без ограничения срока действия; - дилерской деятельности – № 045-06793-010000, выдана ФКЦБ России 24 июня 2003 г. без ограничения срока действия; - деятельности по управлению ценными бумагами – № 045-06795-001000, выдана ФКЦБ России 24 июня 2003 г. без ограничения срока действия; - депозитарной деятельности – № 045-06807-000100, выдана ФКЦБ России 27 июня 2003 г. без ограничения срока действия
