.about-indicators
  padding 40px 20px
  @media(min-width 1200px)
    padding 80px 100px
  table
    font-size 16px
    line-height 19px
    width 1000px
    td
      padding: 9px 0 8px 20px;
      &:first-child
        width: 100%;
    &:first-child
      margin-bottom 65px
    th
      font-weight 600
      border-bottom 2px solid #C3BAB3
      padding 14px 20px
      text-align left
      white-space: nowrap;
    tr:not(:first-child):hover
      background-color #F6F5F4

.table-wrapper
  width 100%
  overflow auto
