.promo#debentures
    .container
        .promo__box
            div.promo__title
                p.promo__title--small
                    | Облигации
                h1.promo__title--big
                    | «Солид-Лизинг»

            div.promo__percents
                div.promo__percent
                    p
                        | 13%
                    p
                        | Ориентир купонной ставки,
                        br
                        | купон квартальный
        div.rate
            h2.rate__title
                | Доходность выше
                |банковского
                | депозита в 2,5 раза.
            p.rate__describe
                | *Медианная ставка по депозитам на 1096 дней по топ-50 банкам составляет 5,25%
